# Grafana Fleet Management (для local.alloy)
GRAFANA_FLEET_URL=https://fleet-management-prod-011.grafana.net
GRAFANA_FLEET_USERNAME=1234567
GRAFANA_FLEET_PASSWORD=glc_xxx

# Grafana Prometheus (для remote/*.alloy конфигураций)
# Эти переменные используются в библиотеке конфигураций remote/
GRAFANA_PROMETHEUS_URL=https://prometheus-prod-24-prod-eu-west-2.grafana.net/api/prom/push
GRAFANA_PROMETHEUS_USERNAME=1234567
GRAFANA_PROMETHEUS_PASSWORD=glc_xxx

# Системные переменные (автоматически устанавливаются скриптом)
HOSTNAME=auto-detected
SERVER_IP=auto-detected

# Переменные для джобы с метриками
METRICS_USER=
METRICS_PASS=
